# **Hope to Skill - Free AI Course**
## **Python Lecture - 01**
Basics of python

# **1.Variable naming**
Rules for naming conventions

In [2]:
# Right Variable Declaration
num_students = 25

In [ ]:
total_sales = 1000.50

In [ ]:
student_name = "AI"

In [4]:
print("Hello world")

Hello world

In [ ]:
# Print variable values
print( num_students)

25

In [ ]:
print(total_sales)

1000.5

In [ ]:
print(student_name)

AI

In [ ]:
# Wrong Variable Declaration
2nd_student = "Alice"  # Invalid variable name starting with a number

SyntaxError: ignored

In [ ]:
total-sales = 500.75   # Invalid variable name with a hyphen

SyntaxError: ignored

In [ ]:
if = 10                # Invalid variable name using a reserved keyword

SyntaxError: ignored

In [ ]:
# Wrong Variable Declarations
print(2nd_student)
print(total-sales)    
print(if)

SyntaxError: ignored

# **2- Data types**


In computer programming, data types specify the type of data that can be stored inside a variable. 


---
2.1. Data Type: Numeric


*   int : 12
*   float : 12.45
*   complex : 1+2j

---
2.2. Data Type: String


*   str : "The future of AI"

---

In [ ]:
num = 23

In [ ]:
num

23

In [ ]:
int num1 = 100

SyntaxError: ignored

Above, 23 (an integer) is assigned to the "num" variable. So the data type of num is of the int.

In [ ]:
course = "Hope to Skills Free AI Course"

In [ ]:
print(course)

Hope to Skills Free AI Course

Above, "Hope to Skills Free AI Course" (a String) is assigned to the "course" variable. So the data type of course is of the string.

In [ ]:
marks = 85.63

Above, "85.63" (a float) is assigned to the "marks" variable. So the data type of marks is of the float.

In [ ]:
complex_number = 1+2j

In [ ]:
complex_number

(1+2j)

Above, "1+2j" (a complex number) is assigned to the "complex_number" variable. So the data type of complex_number is of the complex.

## **Task#01**
Assign values to variables and display their value.

In [ ]:
#Assign any String to variable

In [ ]:
#Assign any Integer value to variable

In [ ]:
# Assign any Float Value to Variable

### Operators
1. (+) addition
2. (-) subtraction
3. / division
4. ** exponentiation
5. % modulus (remainder after division)
6. Comparison Operators are discussed Later
7. Python has incorporated operators like +=, but ++ (or --) do not work in Python

In [ ]:
# Multiply two numbers
print(3*4)

12

In [ ]:
# Display calculate square of number
print(3**2)

9

In [ ]:
# Calculate the Remainder 
print(16%5)

1

In [ ]:
# Divide two numbers
a = 5.0/10.0
a

0.5

In [ ]:
# Calculate the Quotient of two numbers
b= 11//4
b

2

### Adding two integers

In [ ]:
num1 = 5
num2 = 2
sum = num1 + num2
print(sum)

7

### simple program to calculate the area of Rectangle
area of rectangle = length * height

In [ ]:
# Simple program to calculate the area of rectangle

length = 2.5
height = 3.5
area = length * height
print(area)

8.75

# **Task-02**

1. Create a simple python program to swap variables using three variable.
2. create a simple python program to swap variable using only two variables

In [ ]:
# code here