# **Hope to Skills - Free AI Course**
## **Python Basics - Lecture 02**

This note book cover the following concepts 
1. Python Strings
2. Python List
3. Python Tuple 
4. Python Sets

# **2- String in python**
Strings in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello world")
print('Hello world')

Hello world
Hello world

**Assign String to a Variable**
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Hello

# **Multiline Strings**
You can assign a multiline string to a variable by using three quotes Or three single quotes:

In [ ]:
a = """AI, or Artificial Intelligence, refers to the development and implementation of computer systems
      or machines that can perform tasks that would typically require human intelligence. 
      It is a multidisciplinary field that encompasses various subfields, such as machine learning,
      natural language processing, computer vision, robotics, and more."""
print(a)

AI, or Artificial Intelligence, refers to the development and implementation of computer systems
      or machines that can perform tasks that would typically require human intelligence.
      It is a multidisciplinary field that encompasses various subfields, such as machine learning,
      natural language processing, computer vision, robotics, and more.

# **Modify Strings**

## **Upper Case**
The upper() method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

## **Lower Case**
The lower() method returns the string in lower case:

In [ ]:
a = " Hello, World! "
print(a.lower())

hello, world!

## **Remove Whitespace**
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.
The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

## **Replace String**
The replace() method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## **Split String**
The split() method returns a list where the text between the specified separator becomes the list items.
The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']


 ## ***Task#01*** 

Perform the following tasks using the provided built-in functions to manipulate the string input_string = " AI and related technologies have a positive impact on the way the IT sector works.  ":

a) Convert the input_string to uppercase using the "upper()" function and store the result in a variable called "capitalized_text".

b) Convert the input_string to lowercase using the "lower()" function and store the result in a variable called "lowercase_text".

c) Remove the White spaces from the input_string using the "strip()" function and store the result in a variable called "White_space"

d) Split the input_string into a list of words using the "split()" function and store the result in a variable called "word_list".

e) Replace the word 'positive' with the word 'remarkable' in the input_string using the "replace()" function and store the result in a variable called "replaced_text".

# **List**
Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# **List Items**
List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.
Allow Duplicates

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## **List Length**
To determine how many items a list has, use the len() function:

In [ ]:
print(len(thislist))

5

## **List Items - Data Types**
List items can be of any data type:

In [ ]:
# String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

## **Access Elements**

In [ ]:
#Access the first element of list
print(list1[0])

In [ ]:
#Access the last element of list
print(list1[-1])

## **Slicing**
It is possible to access a section of items from the list using the slicing operator :, not just a single item

In [ ]:
print(list_of_integer[1:3])

## **Add new elements in the list**

In [ ]:
#Add new element in the list using append
list_of_integer.append(6)
print(list_of_integer)

## **Reversing a List**

In [ ]:
list_of_integer.reverse()
print(list_of_integer)

## **Removing Elements from the List**
Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn't exist in the list. Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. The remove() method removes the specified item.

In [ ]:
rint("Initial List: ")
print(list_of_integer)
  
# Removing elements from List
# using Remove() method
list_of_integer.remove(5)
print("\nList after Removal of one element: ")
print(list_of_integer)

# **Tuple**
Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

## **Create a Tuple:**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **Tuple Items**
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Allow Duplicates**
Since tuples are indexed, they can have items with the same value:

In [ ]:
# Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## **Create Tuple With One Item**
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## **Tuple Items - Data Types**
Tuple items can be of any data type:

In [ ]:
# String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
# A tuple can contain different data types:
# A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")

# **Python Sets**
Sets are used to store multiple items in a single variable.
A set is a collection which is unordered, unchangeable*, and unindexed.
**Note:** Set items are unchangeable, but you can remove items and add new items.

## **Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key

# **Create a Set:**
Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

## **Duplicates Not Allowed**
Sets cannot have two items with the same value.

In [ ]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

## **Get the Length of a Set**
To determine how many items a set has, use the len() function.

In [ ]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## **Set Items - Data Types**
Set items can be of any data type:

In [ ]:
# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
# A set can contain different data types:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'abc', 'male'}

## **type()**
From Python's perspective, sets are defined as objects with the data type 'set':

In [ ]:
# What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# **Python Dictionaries**
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
# Dictionaries are written with curly brackets, and have keys and values:
# Create and print a dictionary:
thisdict = {"brand": "Ford",  "model": "Mustang","year": 1964}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## **Dictionary Items**
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
# Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

## **Ordered or Unordered?**
When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

## **Changeable**
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

## **Duplicates Not Allowed**
Dictionaries cannot have two items with the same key:

In [ ]:
# Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# **Difference between List, Tuple, Sets and Dictionay**

![difference details.png]()

![difference .png]()

# **Python If ... Else**
Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
# If statement:
a = 330
b = 200
if b > a:
  print("b is greater than a")

## **Indentation**
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

## **Elif**
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

## **Else**
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

## **And**
The and keyword is a logical operator, and is used to combine conditional statements:

Test if a is greater than b, AND if c is greater than a:

In [ ]:
a = 200
b = 330
c = 500
if a > b and c > a:
  print("Both conditions are True")

## **Or**
The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## **Not**
The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
# Test if a is NOT greater than b:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

Pratice the concpet and Explore the python Language 


Assignment will be shared soon